# Server
PORT=4000
JWT_SECRET=tu_secreto_super_seguro_btl_2026
NODE_ENV=development

# Database (PostgreSQL)
# DATABASE_URL="postgres://user:password@localhost:5432/btl_db"

# Google Drive API
GOOGLE_DRIVE_FOLDER_ID=1A2B3C4D5E6F7G8H9I0J
GOOGLE_DRIVE_KEY_PATH=./service-account-key.json
